In [1]:
import pandas as pd
from parsetools import load_all_json_entries_at_once, make_data_frame

In [2]:
# read file contents into a new list of entries (class instances)
entries = load_all_json_entries_at_once("test_data/Order.json")

In [3]:
# Example of what each entry looks like in json format
import json
print(json.dumps(entries[0], indent=4))

{
    "customer": {
        "className": "_User",
        "__type": "Pointer",
        "objectId": "Wgb58JpdJV"
    },
    "city": "Koeln",
    "objectId": "1G0jLQT0Ed",
    "coord": {
        "latitude": 52.534719,
        "__type": "GeoPoint",
        "longitude": 13.371094
    },
    "amount": 15.75,
    "updatedAt": "2015-09-28T19:55:03.791Z",
    "deliveryDate": {
        "iso": "2015-11-19T19:51:00.000Z",
        "__type": "Date"
    },
    "isGift": false,
    "createdAt": "2015-09-28T19:49:16.928Z"
}

## `make_data_frame`

In [4]:
# Convert entries to a data frame with appropriate types
df = make_data_frame(entries)
df

,city,created_at,updated_at,coord,amount,deliveryDate,customer_id,isGift
1G0jLQT0Ed,Koeln,2015-09-28 19:49:16,2015-09-28 19:55:03,"13.371094, 52.534719",15.75,2015-11-19 19:51:00,Wgb58JpdJV,False
2N1nDn4uYb,Dresden,2015-09-28 19:49:23,2015-09-28 19:54:39,NaN,24.95,2015-10-01 19:50:00,1BPwfcrsQ2,False
B5mGp8nQUY,Leipzig,2015-09-28 19:49:14,2015-09-28 19:55:06,"13.371094, 52.534719",13.95,2015-10-02 19:51:00,1BPwfcrsQ2,True
BvSnfDNjIQ,Berlin,2015-09-28 19:49:18,2015-09-28 19:55:02,"13.371094, 52.534719",19.99,2015-10-10 19:51:00,7H4jfTgHgb,False
DqVBAEG04U,Dresden,2015-09-28 19:49:35,2015-09-28 19:54:00,"13.371094, 52.534719",13.95,2015-10-14 19:50:00,7H4jfTgHgb,False
FMI1sEaF1T,Munich,2015-09-28 19:49:31,2015-09-28 19:55:18,"13.371094, 52.534719",NaN,2015-09-30 19:50:00,Wgb58JpdJV,True

Notice:
- object ids are used as index
- missing values were inserted as NaNs.

In [5]:
# Check that data types were recognized correctly
df.dtypes

city                    object
created_at      datetime64[ns]
updated_at      datetime64[ns]
coord                   object
amount                 float64
deliveryDate    datetime64[ns]
customer_id             object
isGift                    bool
dtype: object